#home, #about, #feature, #screenshot, #process, #download, #contact, #footer, #backToTop {
    overflow: hidden !important;
}

#errorMessage {
    margin: 1em 2em;
    padding: 1em 2em;
    display: none;
    width: 290px;
    border-radius: 10px;
    text-align: center !important;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    background-color: rgba(0, 87, 0, 0.795);
    color: white !important;

}

#errorMessageOne {
    margin: 1em 2em;
    padding: 1em 2em;
    display: none;
    width: 290px;
    border-radius: 10px;
    text-align: center !important;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    background-color: rgba(0, 15, 153, 0.521);
    color: white !important;

}

#errorMessageTwo {
    margin: 1em 2em;
    padding: 1em 2em;
    display: none;
    width: 290px;
    border-radius: 10px;
    text-align: center !important;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    background-color: red;
    color: white !important;

}

.text-align {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

/* .message-container {
    margin: 1em 2em;
    padding: 1em 2em;
    display: flex;
    width: 290px;
    border-radius: 10px;
    text-align: center !important;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.521);
    color: white !important;

} */

.message-container h5 {
    color: white;
    margin-right: 2em;
    font-size: 0.8em !important;
}

.popUpContainer {
    background-color: white;
    margin: 1em;
    padding: 2em;
    border-radius: 20px;
   
}

.popUp {
    background-color: #0331b9;
    top: 0;
    z-index: 1000 !important;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 992px) {
    .new-popupadjustment {
        font-size: 1em !important;
        max-width: 200px;
    }

    .new-popupadjustment h2 {
        font-size: 1.2em !important;
    }

    .new-popupadjustment i {
        font-size: 6em !important;
    }

    .new-popupadjustment h4 {
        font-size: 0.9em !important;
    }

    .new-popupadjustment button{
        font-size: 0.8em !important;
    }
}

.popUp h2 {
    color: #062172;
}

.popUp h4 {
    color: #062172;
}

.popUp p {
    color: #0331b9;
    font-size: 0.7em;
}

.popUp i {
    font-size: 10em;
    color: #0331b9;
}

.popUp .popUpContainer button {
    border: none;
    border-radius: 10px;
    background-color: #0331b9;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
}

canvas {
    top: 0;
    overflow: hidden !important;
    width: 100vw !important;
    position: absolute;
    z-index: 10;
}